<div class="col">
    <div class="card">
        <img src="{{this.imagen}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.nombre}}</h5>
            <p class="card-text">{{this.precio}}</p>
            <a href="#" class="btn btn-primary">Añadir al carrito</a>
        </div>
    </div>
</div>